<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testinggroundchatbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/44b3d608-ac85-4a5d-b915-e2fe54ac821d/resourceGroups/AndyP-GroupMeBot/providers/Microsoft.Web/sites/TestingGroundChatBot</ResourceId>
    <UserName>$TestingGroundChatBot</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://testinggroundchatbot.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>